# Daily Sentiment Scores of Reddit Tweets

In [3]:
import pandas as pd
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [2]:
reddit = pd.read_csv('redditData.csv', sep=',', index_col=None)

In [4]:
sid = SentimentIntensityAnalyzer()

In [6]:
sid.polarity_scores(reddit['body'][1])

{'compound': -0.872, 'neg': 0.163, 'neu': 0.715, 'pos': 0.122}

In [9]:
reddit['sentiment'] = reddit['body'].apply(sid.polarity_scores)
reddit.head()

                  Date  ...                                          sentiment
0  2021-02-12 14:23:46  ...  {'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'comp...
1  2021-02-12 14:23:43  ...  {'neg': 0.163, 'neu': 0.715, 'pos': 0.122, 'co...
2  2021-02-12 14:23:41  ...  {'neg': 0.05, 'neu': 0.796, 'pos': 0.154, 'com...
3  2021-02-12 14:23:36  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
4  2021-02-12 14:23:29  ...  {'neg': 0.39, 'neu': 0.61, 'pos': 0.0, 'compou...

[5 rows x 3 columns]

In [18]:
sentiments = reddit['sentiment'].apply(pd.Series)

In [19]:
reddit = pd.concat([reddit,sentiments], axis=1)
reddit.head()

                  Date  ... compound
0  2021-02-12 14:23:46  ...   0.4404
1  2021-02-12 14:23:43  ...  -0.8720
2  2021-02-12 14:23:41  ...   0.9788
3  2021-02-12 14:23:36  ...   0.0000
4  2021-02-12 14:23:29  ...  -0.7506

[5 rows x 7 columns]

In [20]:
#save as csv
reddit.to_csv('redditSentiment.csv', sep='\t', index=None)

## Daily sentiment score

In [33]:
def getDate(series):
  return series.split(' ')[0]

In [39]:
reddit['Day'] = reddit['Date'].apply(getDate)

In [41]:
#Getting average score
daily_score = reddit.groupby(by=['Day'],as_index=False).mean()

In [43]:
daily_score.tail()

            Day       neg       neu       pos  compound
186  2021-07-28  0.078570  0.799123  0.118990  0.067936
187  2021-07-29  0.062790  0.869973  0.067253  0.054193
188  2021-07-30  0.071823  0.805740  0.122450  0.094655
189  2021-07-31  0.083880  0.775040  0.141130  0.086357
190  2021-08-01  0.064850  0.796123  0.130710  0.138810

In [44]:
#save as csv
daily_score.to_csv('redditDailySentiment.csv', sep='\t', index=None)