# Daily Sentiment Scores of Reddit Tweets

In [4]:
import pandas as pd
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [ ]:
reddit = pd.read_csv('redditData.csv', sep=',', index_col=None)

In [ ]:
sid = SentimentIntensityAnalyzer()

In [ ]:
sid.polarity_scores(reddit['body'][1])

{'compound': -0.872, 'neg': 0.163, 'neu': 0.715, 'pos': 0.122}

In [ ]:
reddit['sentiment'] = reddit['body'].apply(sid.polarity_scores)
reddit.head()

                  Date  ...                                          sentiment
0  2021-02-12 14:23:46  ...  {'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'comp...
1  2021-02-12 14:23:43  ...  {'neg': 0.163, 'neu': 0.715, 'pos': 0.122, 'co...
2  2021-02-12 14:23:41  ...  {'neg': 0.05, 'neu': 0.796, 'pos': 0.154, 'com...
3  2021-02-12 14:23:36  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
4  2021-02-12 14:23:29  ...  {'neg': 0.39, 'neu': 0.61, 'pos': 0.0, 'compou...

[5 rows x 3 columns]

In [ ]:
sentiments = reddit['sentiment'].apply(pd.Series)

In [ ]:
reddit = pd.concat([reddit,sentiments], axis=1)
reddit.head()

                  Date  ... compound
0  2021-02-12 14:23:46  ...   0.4404
1  2021-02-12 14:23:43  ...  -0.8720
2  2021-02-12 14:23:41  ...   0.9788
3  2021-02-12 14:23:36  ...   0.0000
4  2021-02-12 14:23:29  ...  -0.7506

[5 rows x 7 columns]

In [ ]:
#save as csv
reddit.to_csv('redditSentiment.csv', sep='\t', index=None)

## Get August Data

In [7]:
import pandas as pd
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [8]:
reddit_sentiment = pd.read_csv('redditSentiment.csv', sep='\t', index_col=None)

In [9]:
reddit_aug = pd.read_csv('reddit_dataset_AUG.csv', sep=',', index_col=None)
reddit_aug.tail()

                       Date                                               body
99996   2021-08-22 01:25:01  It‚Äôs an ascending triangle. Bullish yes but on...
99997   2021-08-22 01:24:52                                          Here here
99998   2021-08-22 01:24:28  What if you travel to El Salvador and never co...
99999   2021-08-22 01:24:27  Those urban areas are most likely cess pools i...
100000  2021-08-22 01:24:27  Use Kraken, it‚Äôs a good brokerage for buying l...

In [10]:
sid = SentimentIntensityAnalyzer()

In [12]:
reddit_aug['body'] = str(reddit_aug['body'])

In [13]:
reddit_aug['sentiment'] = reddit_aug['body'].apply(sid.polarity_scores)
reddit_aug.head()

                  Date  ...                                          sentiment
0  2021-08-10 03:59:19  ...  {'neg': 0.019, 'neu': 0.862, 'pos': 0.119, 'co...
1  2021-08-10 03:58:53  ...  {'neg': 0.019, 'neu': 0.862, 'pos': 0.119, 'co...
2  2021-08-10 03:58:42  ...  {'neg': 0.019, 'neu': 0.862, 'pos': 0.119, 'co...
3  2021-08-10 03:58:36  ...  {'neg': 0.019, 'neu': 0.862, 'pos': 0.119, 'co...
4  2021-08-10 03:57:35  ...  {'neg': 0.019, 'neu': 0.862, 'pos': 0.119, 'co...

[5 rows x 3 columns]

In [14]:
sentiments = reddit_aug['sentiment'].apply(pd.Series)

In [15]:
reddit_aug = pd.concat([reddit_aug,sentiments], axis=1)
reddit_aug.head()

                  Date  ... compound
0  2021-08-10 03:59:19  ...   0.7579
1  2021-08-10 03:58:53  ...   0.7579
2  2021-08-10 03:58:42  ...   0.7579
3  2021-08-10 03:58:36  ...   0.7579
4  2021-08-10 03:57:35  ...   0.7579

[5 rows x 7 columns]

In [17]:
reddit_aug.tail()

                       Date  ... compound
99996   2021-08-22 01:25:01  ...   0.7579
99997   2021-08-22 01:24:52  ...   0.7579
99998   2021-08-22 01:24:28  ...   0.7579
99999   2021-08-22 01:24:27  ...   0.7579
100000  2021-08-22 01:24:27  ...   0.7579

[5 rows x 7 columns]

In [16]:
full_reddit = pd.concat([reddit,reddit_aug], axis=0)
full_reddit.tail()

                       Date  ... compound
99996   2021-08-22 01:25:01  ...   0.7579
99997   2021-08-22 01:24:52  ...   0.7579
99998   2021-08-22 01:24:28  ...   0.7579
99999   2021-08-22 01:24:27  ...   0.7579
100000  2021-08-22 01:24:27  ...   0.7579

[5 rows x 7 columns]

In [18]:
#save as csv
full_reddit.to_csv('redditSentiment.csv', sep='\t', index=None)

## Daily sentiment score

In [ ]:
def getDate(series):
  return series.split(' ')[0]

In [ ]:
reddit['Day'] = reddit['Date'].apply(getDate)

In [ ]:
#Getting average score
daily_score = reddit.groupby(by=['Day'],as_index=False).mean()

In [ ]:
daily_score.tail()

            Day       neg       neu       pos  compound
186  2021-07-28  0.078570  0.799123  0.118990  0.067936
187  2021-07-29  0.062790  0.869973  0.067253  0.054193
188  2021-07-30  0.071823  0.805740  0.122450  0.094655
189  2021-07-31  0.083880  0.775040  0.141130  0.086357
190  2021-08-01  0.064850  0.796123  0.130710  0.138810

In [ ]:
#save as csv
daily_score.to_csv('redditDailySentiment.csv', sep='\t', index=None)

## Hourly Sentiment Score

In [19]:
import pandas as pd

In [20]:
def getHour(series):
  hour= series.split(':')[0]
  hour = hour +':00:00'
  return hour

In [21]:
reddit = pd.read_csv('redditSentiment.csv', sep='\t', index_col=None)

In [22]:
reddit.head()

                  Date  ... compound
0  2021-02-12 14:23:46  ...   0.4404
1  2021-02-12 14:23:43  ...  -0.8720
2  2021-02-12 14:23:41  ...   0.9788
3  2021-02-12 14:23:36  ...   0.0000
4  2021-02-12 14:23:29  ...  -0.7506

[5 rows x 7 columns]

In [23]:
reddit.tail()

                       Date  ... compound
199996  2021-08-22 01:25:01  ...   0.7579
199997  2021-08-22 01:24:52  ...   0.7579
199998  2021-08-22 01:24:28  ...   0.7579
199999  2021-08-22 01:24:27  ...   0.7579
200000  2021-08-22 01:24:27  ...   0.7579

[5 rows x 7 columns]

In [24]:
reddit['Hour'] = reddit['Date'].apply(getHour)

In [25]:
reddit.head()

                  Date  ...                 Hour
0  2021-02-12 14:23:46  ...  2021-02-12 14:00:00
1  2021-02-12 14:23:43  ...  2021-02-12 14:00:00
2  2021-02-12 14:23:41  ...  2021-02-12 14:00:00
3  2021-02-12 14:23:36  ...  2021-02-12 14:00:00
4  2021-02-12 14:23:29  ...  2021-02-12 14:00:00

[5 rows x 8 columns]

In [26]:
#Getting average score
hourly_score = reddit.groupby(by=['Hour'],as_index=False).mean()
hourly_score.head()

                  Hour       neg       neu       pos  compound
0  2021-01-01 12:00:00  0.042100  0.788730  0.159170  0.249644
1  2021-01-01 20:00:00  0.057535  0.763265  0.179185  0.232856
2  2021-01-02 04:00:00  0.070860  0.805880  0.113310  0.087468
3  2021-01-02 11:00:00  0.059394  0.755424  0.154909  0.265852
4  2021-01-02 12:00:00  0.047412  0.823184  0.121910  0.135536

In [27]:
hourly_score.tail()

                                                   Hour    neg  ...    pos  compound
1548                                2021-08-31 00:00:00  0.019  ...  0.119    0.7579
1549                                2021-08-31 01:00:00  0.019  ...  0.119    0.7579
1550                                2021-08-31 02:00:00  0.019  ...  0.119    0.7579
1551                                2021-08-31 03:00:00  0.019  ...  0.119    0.7579
1552  Was driving around Omaha and saw this billboar...  0.019  ...  0.119    0.7579

[5 rows x 5 columns]

In [28]:
hourly_score = hourly_score.iloc[:-1,:]
hourly_score.tail()

                     Hour    neg    neu    pos  compound
1547  2021-08-30 23:00:00  0.019  0.862  0.119    0.7579
1548  2021-08-31 00:00:00  0.019  0.862  0.119    0.7579
1549  2021-08-31 01:00:00  0.019  0.862  0.119    0.7579
1550  2021-08-31 02:00:00  0.019  0.862  0.119    0.7579
1551  2021-08-31 03:00:00  0.019  0.862  0.119    0.7579

In [29]:
#save as csv
hourly_score.to_csv('redditHourlySentiment.csv', sep='\t', index=None)